.nested-fields
  .row
    %h4= 'Блок'
  -#.row
    .col-md-2
      .form-group
        = f.label :num
        = f.number_field :num, class: 'form-control'
  .row
    .col-md-12
      .form-group
        = f.label :btext
        = f.text_area :btext, class: 'form-control'
  = f.label 'Изображения'
  #pictures
    = f.fields_for :pictures do |pic|
      = render('picture_fields', f: pic)
    .links
      = link_to_add_association 'Добавить изображение', f, :pictures, class: 'btn btn-info'
  = link_to_remove_association 'Удалить блок', f, class: 'btn btn-danger'
