.row
  %h1= t('headers.articles.show')
  = link_to edit_article_path(@article), class: 'btn btn-warning circle' do
    = fa_icon :pencil
  = link_to @article, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger circle' do
    = fa_icon :trash
  = link_to articles_path, class: 'btn btn-info circle' do
    = fa_icon :'arrow-circle-left'
.row
  - if (@article.artype == 1)
    .anons
      .anonstxt
        Анонс
  - if (@article.artype == 2)
    .itogi
      .itogitxt
        Итоги
  = link_to @article.event.ename, event_url(:id => @article.event_id)
.row
  .col-md-2
    .tms
      = @article.publdate
.row
  %h1= @article.caption
%dl
  - @blocks.each do |block|
    %dd
      %p= block.btext
      - block.pictures.each do |pic|
        = image_tag(pic.image.url(:thumb)) if pic.image.exists?
