-if params[:event_id].present?
  .row
    %h1= t('headers.schedules.index') + ' ' + Event.find(params[:event_id]).ename
    = link_to new_schedule_path(:event_id => params[:event_id]), class: 'btn btn-primary circle' do
      = fa_icon :plus
    = link_to event_url(:id => params[:event_id]), class: 'btn btn-info circle' do
      = fa_icon :'arrow-circle-left'
-else
  .row
    %h1= t('headers.schedules.index')
    = link_to new_schedule_path, class: 'btn btn-primary circle' do
      = fa_icon :plus

%ul.list-group
  - @schedules.each do |schedule|
    %li.list-group-item
      .row
        .col-md-2
          - if schedule.sfinish.present?
            = schedule.sstart.to_s + ' - ' + schedule.sfinish.to_s
          - else
            = schedule.sstart
        .col-md-8
          = schedule.sname
        .col-md-2
          = link_to schedule, class: 'btn btn-info' do
            = fa_icon :eye
          = link_to edit_schedule_path(schedule), class: 'btn btn-warning' do
            = fa_icon :pencil
          = link_to schedule, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' do
            = fa_icon :trash
