%p#notice= notice

%p
  %b Sign:
  = @picture.sign
%p
  %b Image:
  = image_tag(@picture.image.url) if @picture.image.exists?
%p
  %b Block:
  = @picture.block

= link_to 'Edit', edit_picture_path(@picture)
\|
= link_to 'Back', pictures_path
